.matrix {
	background-color: #FFFFFF;
	text-align: left;
}
.pmatrixbg {
	background-image: url(../images/matrixbg.jpg);
	background-repeat: no-repeat;
}

.matrixlist {
	list-style-position: outside;
	list-style-type: none;
	font-size: 10px;
	margin: 0px;
	padding: 8px;
	line-height: 13px;
}
.matrix .matrixlist a:visited {
	color: #666666;
	text-decoration: none;
}
.matrix .matrixlist a:hover {
	text-decoration: underline;
	color: #666666;
}
.matrix .matrixlist a {
	color: #666666;
	text-decoration: none;
}





.orange14 {
	font-size: 12px;
	color: #FF6600;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	height: 100%;
	width: 100%;
	vertical-align: top;
	text-align: center;
	background-color: #CCCCCC;
}
.righsidebg {
	background-image: url(../images/sidebarbg.gif);
	background-repeat: repeat;
	background-position: left top;
}

.grey9 {

	font-size: 9px;
	color: #666666;
}
.grey9 a:visited {
	color: #666666;
	text-decoration: none;
}
.grey9 a:hover {
	color: #666666;
	text-decoration: underline;
}
.grey9 a {
	color: #666666;
	text-decoration: none;
}


.grey12 {

	font-size: 12px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

.brightblue {

	font-size: 12px;
	color: #3399CC;
}
.darkblue12 {


	font-size: 12px;
	color: #000066;
}
.dkblue10 {

	font-size: 10px;
	color: #000066;
	font-family: Arial, Helvetica, sans-serif;
}
.dkblue10 a:link {
	color: #000066;
	text-decoration: none;
}
.dkblue10 a:visited {
	color: #000066;
	text-decoration: none;
}
.dkblue10 a:hover {
	color: #000066;
	text-decoration: underline;
}
.searchtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}

.green9 {

	font-size: 9px;
	color: #669933;
}
.green10 {


	font-size: 10px;
	color: #669933;
}
.sidenavlist {
	list-style-position: outside;
	list-style-type: none;
	font-size: 12px;
	margin: 0px;
	padding: 4px;
	color: #666666;
}


.sidenavlist a:link {


	text-decoration: none;
	color: #666666;
}
.sidenavlist a:visited {



	text-decoration: none;
	color: #666666;
}

.sidenavlist a:hover {




	text-decoration: underline;
	color: #666666;
}
.sidenavlist2 {
	list-style-position: outside;
	list-style-type: none;
	font-size: 12px;
	margin: 0px;
	padding: 4px;
	padding-left: 10px;
	color: #666666;
}
.sidenavlist2 a:link {



	text-decoration: none;
	color: #666666;
}
.sidenavlist2 a:visited {




	text-decoration: none;
	color: #666666;
}
.sidenavlist2 a:hover {





	text-decoration: underline;
	color: #666666;
}
.green12 a:visited {
	color: #669933;
	text-decoration: none;
	font-size: 12px;
}
.green12 a:link {
	color: #669933;
	text-decoration: none;
	font-size: 12px;
}
.green12 a:hover {
	color: #669933;
	text-decoration: underline;
	font-size: 12px;
}
.green12 {



	font-size: 12px;
	color: #669933;
}
.white12 {
	font-size: 12px;
	color: #FFFFFF;
}

.grey10 {


	font-size: 10px;
	color: #666666;
}
.grey10 a {

	color: #666666;
	text-decoration: none;
}
.grey10 a:visited {

	color: #666666;
	text-decoration: none;
}
.grey10 a:hover {

	color: #666666;
	text-decoration: underline;
}
.orange10 {

	font-size: 10px;
	color: #FF6600;
}
.o_learn10 {
	font-size: 10px;
	color: #FF6600;
	margin: 5px;
}
.o_learn10 a:visited {


	color: #FF6600;
	text-decoration: none;
}
.o_learn10 a:hover {


	color: #FF6600;
	text-decoration: underline;
}
.o_learn10 a {
	color: #FF6600;
	text-decoration: none;
	padding-right: 8px;
}
.grey12 a {

	color: #666666;
	text-decoration: none;
}
.grey12 a:visited {

	color: #666666;
	text-decoration: none;
}
.grey12 a:hover {

	color: #666666;
	text-decoration: underline;
}
.grey12 a:link {
	color: #666666;
	text-decoration: none;
	font-size: 12px;
}
.green11 {




	font-size: 11px;
	color: #669933;
}
.green20 {
	font-size: 20px;
	color: #669933;
	line-height: 14px;
}
.orange20 {

	font-size: 20px;
	color: #FF6600;
	line-height: 14px;
}
.orange14 {
	font-size: 14px;
	color: #FF6600;
	line-height: 19px;
}
.orange12 {



	font-size: 12px;
	color: #FF6600;
}
.grey10 {


	color: #666666;
	text-decoration: none;
}
.grey11 a:visited {
	color: #666666;
	text-decoration: none;
}
.grey11 a:link {

	color: #666666;
	text-decoration: none;
}
.grey11 a {
	color: #666666;
	text-decoration: none;
	font-size: 11px;
}
.grey16 {

	font-size: 16px;
	color: #666666;
	line-height: 19px;
}
.orange16 {
	font-size: 16px;
	color: #FF6600;
	line-height: 14pt;
}
.blueind {



	font-size: 12px;
	color: #000066;
}
.greyicon {
	font-size: 10px;
	color: #666666;
	vertical-align: text-bottom;
	height: 15px;
}
.greyicon a:visited {


	color: #666666;
	text-decoration: none;
}
.greyicon a:hover {


	color: #666666;
	text-decoration: underline;
}
.greyicon a {


	color: #666666;
	text-decoration: none;
}
.green10 a:hover {

	color: #669933;
	text-decoration: underline;
	font-size: 10px;
}
.green10 a:link {

	color: #669933;
	text-decoration: none;
	font-size: 10px;
}
.green10 a:visited {

	color: #669933;
	text-decoration: none;
	font-size: 10px;
}
.green10 a {


	color: #669933;
	font-size: 10px;
}
.orangebg {
	background-color: #FF6600;
}

.features {
	color: #333333;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	margin-left: 3px;
	padding-left: 16px;
	margin-top: 3px;
	padding-top: 0px;
}

.greybg {

	background-color: #666666;
}
.greyltbgL {
	background-image: url(../images/ltgreybgL.jpg);
	background-repeat: repeat-y;
	background-position: right;
	background-attachment: scroll;
	height: 100%;
}
.greyltbgR {
	background-image: url(../images/ltgreybgR.jpg);
	background-repeat: repeat-y;
	background-color: #CCCCCC;
	background-position: left top;
	max-width: 20px;
	height: 100%;
}
.sidenavlist10 {


	list-style-position: outside;
	list-style-type: none;
	font-size: 10px;
	margin: 0px;
	padding: 4px;
}
.newsg {

	color: #666666;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_green.gif);
}
.greydk12 {


	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}
.greydk11 {



	font-size: 11px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}
.grey11 a:hover {



	color: #666666;
	text-decoration: underline;
}
.white11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

.orange11 a{
	font-size: 11px;
	color: #FF6600;
	text-decoration: underline;
}

.orange11 a:link {
	color: #FF6600;
	text-decoration: underline;
}
.orange11 a:visited {
	color: #FF6600;
	text-decoration: underline;
}

.orange11 {
	color: #FF6600;
	font-size: 11px;
}
.nobullet11 {
	color: #333333;
	font-size: 11px;
	list-style-position: inside;
	margin-left: 3px;
	padding-left: 16px;
	margin-top: 3px;
	padding-top: 0px;
	list-style-type: none;
}
.imatrixbg {

	background-repeat: no-repeat;
	background-image: url(../images/industrybg.jpg);
}
.nobullet12B {

	color: #0066FF;
	font-size: 12px;
	list-style-position: inside;
	margin-left: 3px;
	padding-left: 8px;
	margin-top: 3px;
	padding-top: 0px;
	list-style-type: none;
}
.shadowbgL {
	background-image: url(../images/shadowbgL.jpg);
	background-repeat: repeat-y;
	background-position: right;
	background-attachment: scroll;
	height: 100%;
	background-color: #FFFFFF;
}
.shadowbgR {

	background-image: url(../images/shadowbgR.jpg);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	background-position: left top;
	max-width: 20px;
	height: 100%;
}
.grey14 {


	font-size: 14px;
	color: #666666;
	line-height: 19px;
}
.features a:link {
	color: #333333;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	margin-left: 3px;
	padding-left: 16px;
	margin-top: 3px;
	padding-top: 0px;
	text-decoration: none;
}
.features a:hover {
	color: #333333;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	margin-left: 3px;
	padding-left: 16px;
	margin-top: 3px;
	padding-top: 0px;
	text-decoration: underline;
}
.features a:visited {

	color: #333333;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	margin-left: 3px;
	padding-left: 16px;
	margin-top: 3px;
	padding-top: 0px;
	text-decoration: none;
}
.featuresO a:link {

	color: #FF6600;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	text-decoration: none;
}
.featuresO a:hover {

	color: #FF6600;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	text-decoration: underline;
}
.featuresO a:visited {


	color: #FF6600;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	text-decoration: none;
}
.featuresO {

	color: #FF6600;
	font-size: 11px;
	list-style-position: outside;
	list-style-image: url(../images/arrow_grey.gif);
	margin-left: 3px;
	padding-left: 16px;
	margin-top: 3px;
	padding-top: 0px;
}
.greenbg {
	background-color: #669933;
}
.mapbg {
	background-image: url(../images/map.gif);
	background-repeat: no-repeat;
}
.white14 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
.orangebg {
	background-color: #FF9933;
}
.dkgreybg {
	background-color: #666666;
}
.sidenavtable {
	padding-left: 5px;
	padding-top: 4px;
}
.grey11 {



	font-size: 11px;
	color: #666666;
}
.nobullet12 {

	color: #666666;
	font-size: 12px;
	list-style-position: inside;
	margin-left: 3px;
	padding-left: 8px;
	margin-top: 3px;
	padding-top: 0px;
	list-style-type: none;
}
.nobullet {
	list-style-position: outside;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 4px;
	padding-top: 0px;
	list-style-type: none;
}
.sitemap {
	margin-left: 20px;
}
.orangedk9 {

	color: #FF0000;
	font-size: 9px;
}
.orangedk20 {


	font-size: 20px;
	color: #FF0000;
	line-height: 14px;
}
.orange9 {


	color: #FF6600;
	font-size: 9px;
}
.whitebg {
	background-color: #FFFFFF;
}
.orange11 a:hover {
	color: #FF6600;
	text-decoration: underline;
}
.green16 {



	font-size: 16px;
	color: #669933;
}
